[Desktop Entry]
Name="Zelda 64: Recompiled"
Comment=A native port of the N64 Legend of Zelda games, statically recompiled
Exec=Zelda64Recompiled
Terminal=false
Icon=512
StartupWMClass=Zelda64Recompiled
Type=Application
Categories=Game;Adventure;
